[submodule "local_models/all-MiniLM-L6-v2"]
	path = local_models/all-MiniLM-L6-v2
	url = https://huggingface.co/Xenova/all-MiniLM-L6-v2
[submodule "local_models/Phi-3-mini-4k-instruct"]
	path = local_models/Phi-3-mini-4k-instruct
	url = https://huggingface.co/Xenova/Phi-3-mini-4k-instruct
